<h1>Clients</h1>
<p>
  Clients are Injectables that are responsible for providing data from API. They should define methods for every API
  endpoints used by application. They shouldn't use any model classes. Clients works on level of Data Transfer Objects.
</p>

<h2>Usage</h2>
<p>content of <code>/assets/movies/lipsum.json</code></p>
<p>
  <code>
    {{ lipsum | async | json }}
  </code>
</p>

<h4><strong>IMPORTANT!</strong></h4>
<p>
  This page injects client for demo purpose but in applications Clients should be injected into Services.
</p>
