@import '../tools/transition';

a {
  @include transition((color));
  text-decoration: none;
  font-weight: $font-weight-bold;
  color: $color-accent;

  &:hover {
    color: $color-accent-light;
  }
}
