@import '../settings/variables';
@import '../tools/transition';

.c-button {
  @include transition((background-color, color, border-color));
  color: $color-paragraph-inverted;
  background-color: $color-main;
  border: none;
  border-radius: $size-xxs;
  padding: $size-xs $size-l;

  &:hover {
    background-color: $color-main-light;
  }

  &--outlined {
    color: $color-main;
    background-color: transparent;
    border: $size-hairline solid $color-main;

    &:hover {
      background-color: transparent;
      color: $color-main-light;
      border-color: $color-main-light;
    }
  }
}
