@import '../settings/variables';
@import '../tools/transition';

$aside-width: 17em !default;

.c-pure {
  display: flex;
  height: 100%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: $font-weight-bold;
    margin-bottom: $size-absolute-xxs;
  }

  h1 {
    font-size: $size-xl;
  }

  h2 {
    font-size: $size-l;
  }

  h3 {
    font-size: $size-n;
  }

  h4 {
    font-size: $size-s;
  }

  h5 {
    font-size: $size-xs;
  }

  h6 {
    font-size: $size-xxs;
  }

  p {
    margin-bottom: $size-absolute-s;
    line-height: 1.2em;
  }

  code {
    background-color: $color-neutral-light;
    font-family: $font-monospace;
    padding: $size-xxs $size-xs;
    font-size: $size-s;
    border-radius: $size-absolute-xxs;

    &.block {
      display: block;
      margin-bottom: $size-absolute-s;
    }
  }

  strong {
    color: $color-main;
    font-weight: bolder;
  }

  aside {
    font-size: $size-s;
    width: $aside-width;
    min-width: $aside-width;
    max-width: $aside-width;
    border-right: $size-hairline solid $color-neutral-light;
    padding: $size-absolute-n $size-none $size-absolute-n $size-absolute-n;
  }

  button {
    @include transition((background-color));
    border: none;
    border-radius: $size-absolute-xxs;
    background-color: $color-main;
    color: $color-paragraph-inverted;
    padding: $size-xxs $size-xs;
    font-size: $size-s;
    font-weight: $font-weight-bold;
    outline: none;
    font-family: inherit;

    &:hover {
      background-color: $color-main-light;
    }

    &:not(:disabled) {
    cursor: pointer;
  }
  }

  main {
    flex-grow: 1;
    padding: $size-n;
  }

  nav {
    color: $color-paragraph;

    ul {
      list-style: none;
      padding-left: $size-xs;

      li {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    a {
      padding: $size-xxs 0;
      @include transition((color, border-right-color));
      border-right: $size-border solid transparent;
      display: block;
      color: inherit;
      font-weight: inherit;

      &:hover {
        border-right-color: $color-main-light;
      }

      &:active {
        color: $color-paragraph-light;
      }

      &.active {
        border-right-color: $color-main;
        font-weight: $font-weight-bold;
        color: $color-paragraph-dark;
      }
    }
  }
}
