<h1>Pipes</h1>
<p>Pipes are classes which provides tranformation of data for views.</p>

<h2>Usage</h2>
<p>Transformed value value: <code>{{ 'some string' | upper }}</code></p>

<h3>Dependency Injection</h3>
<p>Pipes like components can have services injected into constructor parameters</p>
<p>Transformation with injected service value: <code>{{ 'some value' | injected }}</code></p>

<h4><strong>IMPORTANT!</strong></h4>
<p>
  If you want to have possibility to inject pipe into service or directly into component you need to add its definition
  to <code>providers</code> section in module definiton
</p>

<h3>Asynchronous Pipes</h3>
<p>Pipes can also return asynchronous data which returns during the lifetime - but its important to add <code>| async</code> after pipe</p>
<p>Transformation with asynchronous pipe which shows how many seconds ago page was created: <code>{{ createdAt | ago | async }}</code></p>

<h4><strong>IMPORTANT!</strong></h4>
<p>
  Remember that if you create subjects in the pipe you need to handle its destructions, in other case you can easily generate memory leaks!!!
</p>

