<nav>
  <ul>
    <li>
      <a [routerLink]="'./components'" routerLinkActive="active">Components</a>
      <ul>
        <li><a [routerLink]="'./input-attributes'" routerLinkActive="active">Input Attributes</a></li>
        <li><a [routerLink]="'./output-attributes'" routerLinkActive="active">Output Attributes</a></li>
        <li><a [routerLink]="'./two-way-attributes'" routerLinkActive="active">Two Way Data binding</a></li>
      </ul>
    </li>
    <li>
      <a [routerLink]="'./injectables'" routerLinkActive="active">Injectables</a>
      <ul>
        <li><a [routerLink]="'./injectables/services'" routerLinkActive="active">Services</a></li>
        <li><a [routerLink]="'./injectables/data-and-helpers'" routerLinkActive="active">Data and helpers</a></li>
        <li><a [routerLink]="'./injectables/clients'" routerLinkActive="active">Clients</a></li>
        <li><a [routerLink]="'./injectables/mappings'" routerLinkActive="active">Mappings</a></li>
        <li><a [routerLink]="'./injectables/resolvers'" routerLinkActive="active">Resolvers</a></li>
        <li>
          <a
            [routerLink]="'./injectables/guards'"
            [queryParams]="{magicWord: 'please let me in'}"
            routerLinkActive="active"
          >
            Guards with valid magic word
          </a>
        </li>
        <li>
          <a [routerLink]="'./injectables/guards'" [queryParams]="{magicWord: 'let me in!'}" routerLinkActive="active">
            Guards with invalid magic word
          </a>
        </li>
        <li><a [routerLink]="'./injectables/interceptors'" routerLinkActive="active">Interceptors</a></li>
      </ul>
    </li>
    <li>
      <a [routerLink]="'./pipes'" routerLinkActive="active">Pipes</a>
    </li>
  </ul>
</nav>
