@import '../settings/variables';

.u-hidden {
  display: none;
}

@media screen and (min-width: $screen-small) {
  .u-hidden--s-up {
    display: none;
  }
}
@media screen and (min-width: $screen-medium) {
  .u-hidden--m-up {
    display: none;
  }
}
@media screen and (min-width: $screen-large) {
  .u-hidden--l-up {
    display: none;
  }
}
