@import '../settings/variables';

@media screen and (max-width: ($screen-small - $size-hairline)) {
  .u-visible--s-up {
    display: none;
  }
}
@media screen and (max-width: ($screen-medium - $size-hairline)) {
  .u-visible--m-up {
    display: none;
  }
}
@media screen and (max-width: ($screen-large - $size-hairline)) {
  .u-visible--l-up {
    display: none;
  }
}
