@import '../settings/variables';

.o-layout {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  &__item {
    @for $i from 1 through $layout-columns {
      &--#{$i} {
        width: $i / $layout-columns * 100%;
      }
    }

    &--grow {
      flex: 1;
    }
  }

  &--spaced {
    margin: 0 (-$layout-spacing / 2);
    width: auto;

    > .o-layout__item {
      box-sizing: border-box;
      border: $layout-spacing / 2 solid transparent;
    }
  }

  &--justify {
    justify-content: space-between;
  }

  &--horizontally-centered {
    justify-content: center;
  }

  &--horizontally-end {
    justify-content: flex-end;
  }

  &--vertically-start {
    align-items: flex-start;
    margin-top: $size-xl;
  }

  &--vertically-centered {
    align-items: center;
  }

  &--vertically-end {
    align-items: flex-end;
  }

  @media screen and (min-width: $screen-small) {
    &__item-s {
      @for $i from 1 through $layout-columns {
        &--#{$i} {
          width: $i / $layout-columns * 100%;
        }
      }

      &--grow {
        flex: 1;
      }
    }

    &--auto {
      width: auto;
    }
  }

  @media screen and (min-width: $screen-medium) {
    &__item-m {
      @for $i from 1 through $layout-columns {
        &--#{$i} {
          width: $i / $layout-columns * 100%;
        }
      }

      &--grow {
        flex: 1;
      }

      &--auto {
        width: auto;
      }
    }
  }

  @media screen and (min-width: $screen-large) {
    &__item-l {
      @for $i from 1 through $layout-columns {
        &--#{$i} {
          width: $i / $layout-columns * 100%;
        }
      }

      &--grow {
        flex: 1;
      }

      &--auto {
        width: auto;
      }
    }
  }
}
