<h1>Parametrized page</h1>
<h2>Usage</h2>
<p>
  <code>id</code>: <code>{{ itemId | async }}</code><br/>
  <code>title</code>: <code>{{ title | async }}</code><br/>
  <code>excerpt</code>: <code>{{ excerpt | async }}</code><br/>
</p>

<h4>Note</h4>
<p>Also thanks to config param <code>&#123; paramsInheritanceStrategy: 'always' &#125;</code> from <code>RouterModule.forRoot</code> you have access to data resolved by parents:<br/>
  <code>roar</code>: <code>{{ roar | async }}</code></p>
