<h1>Guards</h1>
<p>Guards are Injectables that are responsible for making decisions if user can enter the page or not. Also their responsibility is to redirect user to other page if access is denied.</p>

<h4><strong>IMPORTANT!</strong></h4>
<p>If you enter a page that was guarded, and you redirect to page with the same url guard will not trigger second time.</p>
<a [routerLink]="'.'" [queryParams]="{magicWord: 'let me in!'}">Go to page that shouldn't work</a>
