<h1>How to define components?</h1>
<h2>The simplest component.</h2>
<h3>You can use components just by creating a tag with their name.</h3>
<app-simple></app-simple>
<h2>Possible but not recommended</h2>
<h3>Some components can have their styles defined inline.</h3>
<app-simple-inline></app-simple-inline>
