@import '../settings/variables';

@mixin inset-shadow($size) {
  -moz-box-shadow: inset 0 0 $size $color-shadow;
  -webkit-box-shadow: inset 0 0 $size $color-shadow;
  box-shadow: inset 0 0 $size $color-shadow;
}