@import '../settings/variables';

@mixin transition($properties) {
  $transition-value: '';
  @each $property in $properties {
    $transition-value: unquote($transition-value + ' ' + $property + ' ' + $transition-time + ' ' + $transition-ease);
    @if $property != nth($properties, length($properties)) {
      $transition-value: $transition-value + ', ';
    }
  }
  transition: $transition-value;
}
