<h1>Mappings</h1>
<p>
  Mappings are Injectables that are responsible for converting one objects into other ones. Mappings that require
  additional requests or other Mappings should extend <code>AsynchronousMapping</code> class, for all other cases they
  should extend <code>SynchronousMapping</code>
</p>

<h2>Usage</h2>
<p>
  <code>
    {{ listItem | async | json }}
  </code>
</p>

<h4><strong>IMPORTANT!</strong></h4>
<p>This page injects Mapping for demo purpose. In production applications Mappings should be injected into Services.</p>
