<h1>Injectables</h1>
<p>Injectable are classes that can be injected to other classes handled by Angular Dependency Injection Container.</p>

<h2>Definitions</h2>
<p>To define class as Injectable you need to use <code>Injectable()</code> decorator and define class in providers field on module or component level.</p>

<h2>Usage</h2>
<p>To use injectable instance you just need to define parameter in constructor with a type of injectable that you want to inject. Injectables are resolved automatically for classes marked with <code>@Component</code>, <code>@Injectable</code>, <code>@Pipe</code> decorators.</p>

<router-outlet></router-outlet>
