<h1>How to define attributes (Input)?</h1>
<h2>String</h2>
<h4>When you don't use square brackets value is passed as string.</h4>
<app-string-input-attribute foo="English"></app-string-input-attribute>
<h4>When you use square brackets value is defined as a piece of code.</h4>
<app-string-input-attribute [foo]="'French'"></app-string-input-attribute>
<h4>When you use square brackets You can use component properties</h4>
<app-string-input-attribute [foo]="nation"></app-string-input-attribute>
<h4>or methods</h4>
<app-string-input-attribute [foo]="getOtherNation()"></app-string-input-attribute>

<h2>Number</h2>
<h4>When you don't use square brackets value is passed as a string - so <strong>NEVER</strong> use this method for passing numeric values.</h4>
<app-number-input-attribute bar="3"></app-number-input-attribute>
<h4>When you use square brackets value is defined as a piece of code.</h4>
<app-number-input-attribute [bar]="33"></app-number-input-attribute>
<h4>When you use square brackets You can use component properties</h4>
<app-number-input-attribute [bar]="age"></app-number-input-attribute>
<h4>or methods.</h4>
<app-number-input-attribute [bar]="getTripleAge()"></app-number-input-attribute>

<h2>Boolean</h2>
<h4>When you don't use square brackets and value is not defined then empty string is passed - so <strong>NEVER</strong> use this method for passing boolean values.</h4>
<app-boolean-input-attribute fiz></app-boolean-input-attribute>
<h4>When you use square brackets value is defined as a piece of code.</h4>
<app-boolean-input-attribute [fiz]="false"></app-boolean-input-attribute>
<h4>When you use square brackets You can use component properties</h4>
<app-boolean-input-attribute [fiz]="isHappy"></app-boolean-input-attribute>
<h4>or methods.</h4>
<app-boolean-input-attribute [fiz]="isNotHappy()"></app-boolean-input-attribute>

<h2>Custom objects</h2>
<h4>From view level you don't have any access to classes defined in typescript and word new doesn't work.</h4>
<p><code>&lt;app-object-input-attribute [baz]="new CustomObject('trololo')"&gt;&lt;/app-object-input-attribute&gt;</code></p>
<!--<app-object-input-attribute [baz]="new CustomObject('trololo')"></app-object-input-attribute>-->
<h4>When you use square brackets You can use component properties</h4>
<app-custom-object-input-attribute [baz]="first"></app-custom-object-input-attribute>
<h4>or methods.</h4>
<app-custom-object-input-attribute [baz]="getSecond()"></app-custom-object-input-attribute>
<h4>If you try define object intline it will work - but it will <strong>NOT</strong> be an instance of CustomObject so you should <strong>NEVER</strong> define values like this.</h4>
<app-custom-object-input-attribute [baz]="{orderNumber: 'three'}"></app-custom-object-input-attribute>
<h4>If you want to handle null values you need to have <code>?</code> in views after the input field - in other case you will get null pointer runtime errors triggered from html.</h4>
<app-custom-object-input-attribute [baz]="null"></app-custom-object-input-attribute>
<p><strong>Javascript ALERT!</strong> - <code>typeof null</code> is <code>'object'</code></p>
