<h1>Services</h1>
<p>Services are classes that contain business logic. They can be responsible for providing model or making calculations on model.</p>

<h2>Usage</h2>
<p>Here you can see value from <code>SimpleService.bar</code>&nbsp;<code>{{ simpleServiceBar }}</code></p>

<h4>Services also can be injected into other Services</h4>
<p>Here you can see value from <code>ComposedService.foo</code>&nbsp;<code>{{ composedServiceFoo }}</code> which was created from <code>SimpleService.bar</code></p>

<h4>Services have their own state which can be updated separately. You need to remember to provide a mechanism for other Components or Services to get information when something was changed. It can be done using <code>callback</code>, <code>Event</code> or as in this example <code>Observable</code></h4>
<p>Here you can see value from <code>StatefulService.now</code>&nbsp;<code>{{ now | async }}</code>&nbsp;<button (click)="updateNow()">update</button></p>

<h4>Also services state can be updated without any user interaction</h4>
<p>Here you can see value from <code>ParallelService.now</code>&nbsp;<code>{{ currentTime | async }}</code></p>
