<h1>Data and helpers</h1>
<p>If you want to inject simple types or interfaces then you need to use <code>@Inject</code> decorator in constructor parameter with provided injectable token.</p>
<p>If you want to give possibility to define providers outside the module you can use <code>ModuleWithProviders</code> and create function which handles creating those providers <code>TestExamplesModule.forRoot()</code> or if you are using dynamically loaded modules then its better to provide a factory method which creates only the providers <code>createProviders()</code></p>

<h2>Usage</h2>
<p><code>interval</code>: <code>{{ interval }}</code></p>
<p><code>now</code>: <code>{{ now }}</code></p>
