<h1>Two way binding</h1>
<p>outer value: <code>{{ counter }}</code>&nbsp;<button (click)="reset()">Reset counter</button></p>

<h4>If you want to synchronize values between outer and inner component you can use two way binding mechanism, this creates handler for change which updates value passed as parameter</h4>
<app-two-way-attribute [(foo)]="counter"></app-two-way-attribute>

<h4>Also you can bind values using property and change event separately - but this requires writing method to handle update</h4>
<app-two-way-attribute [foo]="counter" (fooChange)="onFooChange($event)"></app-two-way-attribute>

<h4>If you don't use binding of change handler then internal changes will not have any impact on outer components</h4>
<app-two-way-attribute [foo]="counter"></app-two-way-attribute>


