$color-main-dark: #990000;
$color-main: #BB0000;
$color-main-light: #EE0000;
$color-accent-dark: #000099;
$color-accent: #0000BB;
$color-accent-light: #0000EE;
$color-neutral-dark: #AAAAAA;
$color-neutral: #CCCCCC;
$color-neutral-light: #EEEEEE;
$color-paragraph-dark: #333333;
$color-paragraph: #666666;
$color-paragraph-light: #999999;
$color-paragraph-inverted: white;
$color-background: white;
$color-error: #e42020;
$color-shadow: black;

$size-none: 0;
$size-hairline: 1px;
$size-border: 0.1em;
$size-xxs: 0.25em;
$size-xs: 0.5em;
$size-s: 0.75em;
$size-n: 1em;
$size-l: 1.5em;
$size-xl: 2em;
$size-xxl: 4em;

$size-absolute-xxs: 0.25rem;
$size-absolute-xs: 0.5rem;
$size-absolute-s: 0.75rem;
$size-absolute-n: 1rem;
$size-absolute-l: 1.5rem;
$size-absolute-xl: 2rem;
$size-absolute-xxl: 4rem;

$font-weight-bold: bold;
$font-weight-medium: 500;
$font-weight-regular: normal;
$font-weight-light: 300;

$font-size-base: 20px;
$font-paragraph: 'Titillium Web', sans-serif;
$font-monospace: 'Consolas', monospace;

$screen-small: 480px;
$screen-medium: 784px;
$screen-large: 1024px;

$layer-blocker: 6;
$layer-modal: 5;
$layer-hint: 4;
$layer-navigation: 3;
$layer-screen-attached: 2;
$layer-content-attached: 1;
$layer-content: 0;

$layout-columns: 12;
$layout-spacing: $size-xl;

$transition-time: 0.3s;
$transition-ease: ease;
