<h1>Output attributes</h1>
<h2>HTML events</h2>
<p>If you want to handle html events like <button (click)="onClick($event)">click</button>&nbsp;<button (mouseenter)="onMouseEnter($event)" (mouseout)="onMouseOut($event)">hover</button></p>

<h2>Custom Events</h2>
<p>You are also able to create your own events that can be triggered in any time <app-custom-object-output-attribute (fiz)="onFiz($event)"></app-custom-object-output-attribute></p>
<p>Note that <code>$event</code> is an instance of object emited with <code>fiz.emit()</code> function</p>

<h2>Self triggering output</h2>
<app-self-triggering-output-attribute></app-self-triggering-output-attribute>

<h2>Log</h2>
<code class="block">
  <span *ngFor="let log of logs">{{log}}<br /></span>
</code>
