<h1>Resolvers</h1>

<p>Resolvers are injectables that are responsible for providing data to pages. They pass data through <code>ActivatedRoute</code> injectable.</p>

<h2>Usage</h2>
<p>Resolved value is: <code>{{ zonk | async }}</code></p>

<h4>How to use resolvers properly:</h4>
<p><a [routerLink]="'./parametrized/1'">1</a> <a [routerLink]="'./parametrized/2'">2</a> <a [routerLink]="'./parametrized/3'">3</a> </p>

<h4><strong>How to not use resolvers</strong></h4>
<p><a [routerLink]="'./wrong/1'">1</a> <a [routerLink]="'./wrong/2'">2</a> <a [routerLink]="'./wrong/3'">3</a> </p>

<h4><strong>IMPORTANT!</strong></h4>
<p>This page shows the simplest way of getting data from resolvers - you should never take resolved data this way, because it can generate a lot of problems connected with not updating state during route change.</p>

<router-outlet></router-outlet>
