<h1>Parametrized page</h1>
<p>
  <code>id</code>: <code>{{ itemId }}</code><br />
  <code>title</code>: <code>{{ title }}</code><br />
  <code>excerpt</code>: <code>{{ excerpt }}</code><br />
</p>

<h4><strong>IMPORTANT!</strong></h4>
<p>
  This is a common example of how to use resolvers. This is the worst example that someone could show you. It
  has a built in bug which appears when you have links between the different parameters in url. Angular works in the way
  that it utilizes existing components and it doesn't destroy them. So method ngOnInit is triggered only once. This
  example works at first glance - but if you try to switch between pages you will see that it doesn't update state
  properly.
</p>
